@import '../../variables';

.catalogSelector {
    margin-top: -.75rem;
    padding: 1rem 2rem;
    background-color: $primary2;
    display: flex;
    align-items: center;

    > span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: .85rem;
        margin-right: 1rem;
        color: lighten($gray1, 15%);
    }

    > span ~ * {
        flex: 1;
    }
}

.selectionButton {
    background-color: $link;
    color: $white;
    padding: 1rem;
    display: block;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 100%;
    font-size: 1rem;

    &:disabled {
        opacity: .7;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: lighten($link, 5%);
    }
}
