@import '../../variables';

.list {
    overflow: hidden;
    padding: 0;


    :global(.control input) {
        border: none;
    }

    li div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    li div,
    .add_new {
        height: 45px;
    }

    ul {
        margin-left: 1.25rem;
    }

}

.heading {
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    margin-bottom: 1rem;
}



.header {
    padding: 1.25rem;
    margin-bottom: .75rem;
    background-color: $primary1;
}

