// Bulma's
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/elements/_all";

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$gray1: hsl(217, 20%, 45%);
$gray2: hsl(216, 16.1%, 94%);
$gray3: hsl(210, 9.1%, 96%);
$gray4: hsl(217, 20%, 98%);

$primary1: hsl(217.1, 60%, 75%);
$primary2: hsl(217, 50%, 95%);
