@import '~bulma/sass/utilities/all';
@import '~bulma/sass/components/panel';

.hierarchySelector {
  @extend .panel;

  li {
    padding: .5rem 1rem;

    ul {
      border-left: 2px dashed $grey-lighter;
      margin: 1rem 0;
      margin-left: .75rem;
      padding-left: 1rem;
    }
  }

  > div:last-child {
    padding: .7rem 0;
    border: 1px solid $grey-lighter;
    border-top: none;
    border-radius: 0 0 $radius $radius;
  }

  li {
    background-color: $info;

    &:not(:last-child) {
      border-bottom: 1px solid white;
    }

    li {
      background-color: $success;

      li {
        background-color: $warning;

        li {
          background-color: $danger;
          color: white;
        }
      }
    }
  }

}
