@import '~bulma/sass/utilities/all';
@import '~bulma/sass/components/panel';


.checkbox {
    margin-left: auto;
    width: 20px;
    height: 20px;
}

.edit_button {
    margin-left: auto;
    color: $grey-light;
    cursor: pointer;

    &:hover {
        color: $grey-dark;
    }
}


.add_new {
    color: $link;
    display: inline-block;
    cursor: pointer;

    &:hover {
        color: lighten($link, 5%);
    }
}

.heading {
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    margin-bottom: 1rem;
}

.hierarchySelector {
    overflow: hidden;


    :global(.control input) {
        border: none;
    }

    li {
        padding: .8rem 0 .8rem 1rem;

        div {
            display: flex;
            align-items: center;
        }


        &:not(:last-child)::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            border-bottom: 1px solid $grey-lighter;
            margin-top: .5rem;
        }


        ul {
            margin-top: .5rem;
            margin-left: .75rem;
            padding-left: 1rem;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                border-bottom: 1px solid $grey-lighter;
            }

            li:last-child {
                padding-bottom: .3rem;
            }

        }
    }

    .panel-block + div {
        border: 1px solid $grey-lighter;
    }
}

.header {
    margin: -1.25rem;
    padding: 1.25rem;
    margin-bottom: 1rem;
    background-color: hsl(217.1, 70.8%, 70%);
}
