@import '../variables';
@import '../utils/mixins';

.pagination {
    background-color: $gray2;
    border-radius: $radius;
    padding: 1rem;
    margin-top: 2rem;
    position: relative;

    &:before,
    &:after {
        content: '';
        top: 0;
        bottom: 0;
        width: 30px;
        position: absolute;
        pointer-events: none;
    }

    &:before {
        left: 1rem;
    }

    &:after {
        right: 1rem;
    }

    &.left:before {
        background: linear-gradient(to right, $gray2, rgba($gray2, 0));
    }

    &.right:after {
        background: linear-gradient(to left, $gray2, rgba($gray2, 0));
    }

    .scroll {
        display: flex;
        overflow-x: auto;
        align-items: flex-start;
    }

    .item {
        flex: 0 0 auto;

        &:not(:last-child) {
            margin-right: .5rem;
        }

        &.active img {
            border-color: $link;
            border-radius: $radius;
        }

        &.finished {
            position: relative;

            &::before {
                position: absolute;
                color: $primary;
                bottom: 1rem;
                right: 1rem;
                font-size: 20px;
                @include icon('f058');
            }

        }

        img {
            $borderWidth: 3px;
            width: 400px;
            height: 200px;
            border-radius: $radius + $borderWidth;
            border: $borderWidth solid transparent;
            object-fit: cover;
        }
    }

}
