@import '../../variables';

.boundingBox {
    position: absolute;
    box-shadow: 0 0 0 3px $link;
    border-radius: 1px;
    transform: scale(1);
    transform-origin: top left;
    pointer-events: none;

    &.resizing {
        box-shadow: none;
        transition: none;
    }

    &.highlightedBox {
        box-shadow: 0 0 0 3px $warning;
    }

    &.tagged {
        box-shadow: 0 0 0 3px $success;
    }
}

.hoverable {
    pointer-events: auto;
}
