@import '../../variables';

.wrapper {
    @extend .box;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: min-content;
    margin: 0 auto;
    height: 600px + 45px;

    :global(.buttons) {
        margin-bottom: 0;

        :global(.button) {
            margin-bottom: 0;
        }
    }

}
