#panel {
    margin: 0;
    align-items: stretch;
    min-height: 75vh;

    .container {
        margin: 2rem 5rem;
    }
}

#sidebar {
    padding: 3rem;
    background: $gray2;
    margin-bottom: 0;
}


.thumbnail {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: $radius;
    background-color: $gray3;

    &.nonexistent {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $danger-light;

        &::after {
            @include icon('f071');
            font-size: 30px;
            color: $danger;
        }
    }
}

.project-subtitle {
    color: $grey;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: 2rem;
    margin-bottom: .75rem;
}
